* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

main {
  min-width: 100%;
}

.desktop-v {
  display: none;
}

header {
  width: 100%;
  height: 92px;
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 0 24px;
}

header.active {
  justify-content: flex-end;
}

.logo-placeholder {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  transition: transform 2s;
}

.logo-placeholder:hover {
  transform: rotate(360deg);
}

a {
  text-decoration: none;
}

.hamburguer-btn {
  padding: 8px;
  width: 40px;
  height: 40px;
  background: #3c3a39;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.title-pop .hamburguer-btn .bar {
  background: black;
}

.hamburguer-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburguer-btn.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #67798e;
}

.hamburguer-btn.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #67798e;
}

.menu-mobile {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #3c3a39;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.menu-mobile li {
  width: 88%;
  list-style: none;
  border-bottom: #6f6c6b 1px solid;
  margin: 12px 0;
  padding: 15px;
}

.menu-mobile li a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.headline {
  display: flex;
  flex-direction: column;
  background: #1c1a19 url(img/illustration-header-mobile.png) no-repeat 100% 100%;
  height: 590px;
}

.headline-aricle {
  display: flex;
  flex-direction: column;
}

h1,
h2,
p,
.headline-article ul {
  margin: 0 auto 12px;
}

.headline-article h1 {
  width: 90%;
  height: 124px;
  margin-top: 124px;
  color: #ff6b00;
  font-family: 'crete round', sans-serif;
  font-weight: 400;
  font-size: 56px;
}

.headline-article h2 {
  width: 90%;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin-bottom: 12px;
}

.headline-para {
  width: 90%;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
}

.social-media li {
  list-style: none;
}

.media-icon {
  width: 24px;
  height: 24px;
}

button:enabled {
  background: #f55800;
  color: #fff;
}

button:hover {
  background: #fff5e1 !important;
  border: 1px solid #f55800;
  color: #f55800;
}

button:active {
  background: #e05304 !important;
  color: #f4f1f0;
}

button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.works-section {
  max-width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  justify-content: center;
}

.works-h1 {
  color: #1c1a19;
  width: 90%;
  height: 107px;
  font-family: 'crete round', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 120px;
  border-bottom: 2px solid #000;
  margin-bottom: 80px;
}

.works-article {
  width: 90%;
}

.works-section img {
  margin: 0 auto 24px;
}

.works-section h2 {
  width: 88%;
  height: 36px;
  font-family: 'crete round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin-bottom: 12px;
}

.works-section p {
  max-width: 327px;
  margin: 0 24px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
}

.tags {
  display: flex;
  gap: 12px;
  max-width: 290px;
  margin: 0 24px 12px;
}

.tag-btn {
  background: #fff;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #091e42;
}

.works__action-btn {
  margin: 0 24px 12px;
}

.works-btn {
  background: #ff6b00 !important;
  gap: 10px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.card-wrapper {
  max-width: 100%;
  display: grid;
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  justify-content: center;
  gap: 24px;
}

.card-works {
  background: no-repeat center;
  background-size: contain;
  max-width: 320px;
  height: 386px;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.card-works:last-child {
  margin-bottom: 120px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-content h2 {
  font-family: 'crete round', sans-serif;
  font-weight: 400;
  line-height: 44px;
  color: #fff;
  height: max-content;
  margin: 0 12px 12px;
}

.card-content p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  height: max-content;
  margin: 0 12px 12px;
}

.card-content .tecnologies-used {
  height: max-content;
  margin: 0 12px 12px;
  display: flex;
}

.tecnologies-used li {
  background: rgba(255, 255, 255, 24%);
  padding: 10px 12px;
  margin-right: 12px;
  font-size: 15px;
  list-style: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 20px;
}

.card-content .action-btn {
  width: 100%;
  height: 48px;
  background: #f55800;
  display: flex;
  justify-content: center;
}

.action-btn button {
  padding: 12px;
  gap: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
}

.blur {
  filter: blur(8px);
}

.popup {
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 99;
}

.wrapper-pop {
  margin-top: 20px;
  padding: 16px;
  padding-bottom: 50px;
  width: 85%;
  max-height: 90vh;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  overflow: hidden;
  overflow-y: scroll;
}

.title-pop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.title-pop .title {
  width: 60%;
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
}

.title-pop .hamburguer-btn {
  display: block;
  background-color: inherit;
}

.title-pop .hamburguer-btn .bar:first-child {
  transform: rotate(45deg) translateY(5.5px);
}

.title-pop .hamburguer-btn .bar:last-child {
  transform: rotate(-45deg) translateY(-5.5px);
}

.title-pop .tecnologies-used {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: min-content;
}

.skill-ul li {
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
}

.title-pop .tecnologies-used li {
  border: 1px solid #979493;
  color: #000;
  width: max-content;
  margin-bottom: 5px;
}

a .information-btn:hover {
  background: #fff5e1 !important;
  border: 1px solid #f55800;
  color: #f55800 !important;
}

a .information-btn:active {
  background: #e05304 !important;
  color: #f4f1f0;
}

a .information-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.information-pop {
  display: flex;
  flex-direction: column;
}

.information-pop .img-project {
  margin: 24px auto;
  max-width: 90%;
}

.information-pop .information {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.information-pop .information .information-p {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.information-pop .information .information-btn {
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #f55800;
  color: #fff;
}

/* end work section
start about me section */

.about-me {
  background: #1c1a19;
  height: max-content;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

.abtme-content {
  background: url(img/abtme-bg.png) no-repeat 100% 75%;
  width: 100%;
  height: max-content;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.abtme-content h2 {
  width: 327px;
  display: block;
  height: max-content;
  margin-top: 120px;
  color: #ff6b00;
  font-family: 'crete round', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  margin-bottom: 24px;
}

.abtme-content p {
  width: 327px;
  display: block;
  height: max-content;
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.abt-btn {
  width: 327px;
}

.abt-btn button {
  padding: 12px;
  gap: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 209px;
}

.line-separation {
  width: 75%;
  border-bottom: 1px solid #fff;
  margin-bottom: 128px;
}

.skill {
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill-ul li:first-child {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  text-align: center;
}

.skill-ul li:last-child {
  margin-bottom: 32px;
}

.skill-ul img {
  margin-right: 12px;
}

.frameworks img {
  transform: rotate(45deg);
}

.first-article-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* end of about me section
start of contact form */

.form-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact-para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  width: 327px;
  height: 216px;
  color: #172b4d;
  margin: 120px 0 73px;
}

#contact-form {
  padding-bottom: 124px;
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-bottom: 25px;
}

#contact-form input {
  border-bottom: 1px solid #dbd8d7;
  height: 56px;
  width: 80%;
  padding: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
  padding-left: 8px;
}

#email-input.error {
  border: 2px solid #f55800;
  animation: invalid 1s;
}

.email-span.error {
  margin-top: 12px;
  display: flex;
  width: 80%;
  border: 2px solid #f55800;
  padding: 2px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

#contact-form textarea {
  width: 80%;
  height: 114px;
  background: #fbf8f7;
}

#contact-form button {
  width: 131px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

@keyframes invalid {
  0% {
    transform: translate(3px);
  }

  50% {
    transform: translate(-6px);
  }

  100% {
    transform: translate(3px);
  }
}

.botton-article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-wrap: wrap;
}

.botton-article .social-media {
  width: 200px;
}

.bottom-line {
  margin-top: 23px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-line img {
  margin: 23px auto 8px;
}

/* desktop version */
@media screen and (min-width: 768px) {
  /* start header */

  .mobile-v {
    display: none !important;
  }

  .desktop-v {
    display: block;
  }

  header {
    height: 72px;
  }

  .logo-placeholder {
    margin-left: 100px;
  }

  .nav-items-dt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin-right: 142px;
  }

  .headline-dt-ul {
    display: flex;
    gap: 32px;
  }

  .headline-dt-ul li {
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  a {
    color: #fff;
    transition: color 0.5s;
  }

  a:hover {
    color: #e05304;
  }

  /* end of header
  start of headline */

  .headline {
    background-image: url(img/desktop-version/desktop-bg-headline.png);
    background-size: contain;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .headline .social-media {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    order: -1;
    width: max-content;
  }

  .headline-article {
    width: 565px;
    padding: 122px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .headline-article h1,
  .headline-article h2,
  p,
  .headline-article ul {
    margin: 0;
  }

  .media-icon {
    transition: all 1s;
  }

  .headline .media-icon {
    margin: 0 87px 0 33px;
    width: 20px;
    height: 20px;
  }

  .media-icon:hover {
    transform: scale(1.5);
  }

  .headline-para {
    width: 327px;
  }

  /* end of headline
     start of work section */

  .works-section {
    margin: 0 115px;
    grid-template-areas:
      "head line-head line-head"
      "img img works-article"
      "card-wraper card-wraper card-wraper";
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    align-items: center;
  }

  .works-h1 {
    grid-area: head;
    border-bottom: none;
    margin: 115px 0;
    height: max-content;
    text-align: center;
  }

  .line-h1-works {
    grid-area: line-head;
    border-bottom: 1px #000 solid;
    width: 100%;
  }

  .works-section img {
    margin: 0;
    grid-area: img;
    min-width: 368px;
    width: 100%;
    max-width: 684px;
    align-self: start;
  }

  .works-article {
    grid-area: works-article;
    align-self: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .card-wrapper {
    grid-area: card-wraper;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    justify-content: center;
    grid-auto-rows: max-content;
    gap: 24px;
    margin: 24px 0 37px;
  }

  .card-works {
    margin: 0;
    transition: all 1s;
  }

  .card-works:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px #e05304, 0 0 10px #e05304, 0 0 10px #e05304;
  }

  /* end of work section
  start of about me section */

  .abtme-content {
    background-image: url(img/desktop-version/desktop-bg-abtme.png);
    background-position: 100% 50%;
  }

  .abtme-content h2 {
    text-align: start;
  }

  .abt-btn button {
    margin-bottom: 151px;
  }

  .abtme-content h2,
  .abtme-content p,
  .abtme-content .abt-btn {
    position: relative;
    left: -25%;
  }

  .skill {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 131px 0;
  }

  /* end of about
  start of contact form */

  .form-section {
    height: max-content;
  }

  .contact-para {
    margin: 0;
    text-align: start;
  }

  .first-article-contact {
    margin: 130px auto 25px;
    padding-bottom: 130px;
    gap: 24px;
    align-items: baseline;
    border-bottom: 1px solid #dfe1e6;
  }

  #contact-form {
    width: 55%;
    padding: 0;
    border: none;
    justify-content: start;
  }

  #contact-form input {
    width: 100%;
    padding: 2px;
  }

  #contact-form textarea {
    width: 100%;
  }

  .email-span.error {
    width: 100%;
  }

  .botton-article .social-media {
    margin-bottom: 18px;
  }

  .botton-article .social-media li {
    padding: 8px;
    border-radius: 8px;
  }

  /* end of contact form */

  /* start of popup */

  .wrapper-pop {
    justify-content: center;
  }

  .title-pop {
    width: 90%;
    gap: 20px;
  }

  .title-pop .title {
    flex: 1;
    padding-left: 24px;
  }

  .information-pop {
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .information-pop .information {
    width: 40%;
    justify-content: flex-start;
    padding: 24px;
  }

  .information-pop .information .information-btn {
    height: min-content;
  }

  .information-pop .img-project {
    max-width: 600px;
    margin: 24px 0;
  }
}

.visibility {
  display: none;
}
