* {
  margin: 0;
  padding: 0;
}

header {
  height: 92px;
  background: #3c3a39;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-placeholder {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

header button {
  padding: 8px;
  width: 40px;
  height: 40px;
  background: #3c3a39;
  border: none;
}

section {
  display: flex;
  flex-direction: column;
  background: #1c1a19 url(img/illustration-header-mobile.png) no-repeat 100% 100%;
  height: 590px;
}

h1,
h3,
h5,
section img {
  margin: 0 24px 12px 24px;

}

h1 {
  width: 327px;
  height: 124px;
  margin-top: 124px;
  color: #ff6b00;
  font-family: 'crete round', sans-serif;
  font-weight: 700;
  font-size: 56px;
}

h3 {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin-bottom: 12px;
}

h5 {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

section img {
  width: 200px;
  height: 40px;
}
